################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/nginx-logs/error.log
/data/nginx-logs/access.log
