@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Saira+Stencil+One&display=swap');




:root {
    --primary-red: #c61818;
    --deep-purple: #3c162e;
    --light-pink: #fff1f1;
    --container-width: calc(100dvw - 45dvw)
}


@media screen and (max-width: 1500px) {
    :root {
        --container-width: calc(100dvw - 10rem)
    }
}


@media screen and (max-width: 700px) {
    :root {
        --container-width: calc(100dvw - 5rem)
    }
}


body {
    font-family: "Inter";
}



.r-container {
    max-width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}