@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-red: #c61818;
    --container-width: calc(100dvw - 30rem)
}
.navbar {
    align-items: center;
    padding: 0rem 10rem;
    display: flex;
    justify-content: center;
}

.container {
    max-width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .buttons {
    display: flex;
    align-items: center;
    gap: .5rem;


}

.navbar .buttons a {
    padding: 1.5rem 1.5rem;
    @apply hover:bg-slate-200
        transition-all
        rounded-md
}

.navbar .buttons {
    color: #252529;
    font-weight: 600;
}

.navbar {
    background: #f6f6f6;
}

.login > button {
    @apply  bg-red-700
            hover:bg-red-600 
            aria-pressed:bg-red-500 
            text-white 
            px-5 py-2 
            font-semibold 
            rounded-full
}